<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>ST2DE/week1_homework/aboutEliane</title>
        <link rel="stylesheet" href="../public/about_me.css">
    </head>
    <body>
    
        <body background="https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg" style="background-attachment:fixed; background-size: auto; opacity: 0.8;"></body>


      <br>
      <br>
      <br>
      <br>
      
      
        <div class="container_left">
            <div class="leftCard" style="background: rgba(255, 81, 81, 0.781);">
                <p class="title">我是誰？</p>
            </div>

            <div class="leftCard">
                <p class="text">
                    大家好，this is Eliane ^^<br>
                    目前是個在台北文山區讀書的大三學生<br>
                    因為大一想不開申請了一系列的學程，造成自己同時是個要讀五年大學的學生ＯＡＯ<br>
                    就讀的系所算是半個建築系＋半個法律系，所以大概只比建築系的肝新鮮那麼一半而已XD<br>
                    大概今年就會達成夜宿教室的成就（淚...）<br>
                    但也因為學得很廣泛，所以讓我產生危機感，也算是我常常跑去參加各種領域活動的原因<br>
                    日常生活中的興趣就是追劇、看小說、聽音樂（最近發現mumble rap很好笑，可以去聽聽看XXD）<br>
                    運動則是偏好排球、網球<br>
                    
                  
                    
                  
                  
                  
                
                    
                </p>
            </div>

            <div class="leftCard" style="background: rgba(81, 255, 139, 0.781)">
                <p class="title" >為什麼參加計劃？</p>
            </div>

            <div class="leftCard">
                <p class="text">
                    
                    參加計畫的原因是發現自己寒假沒有什麼事情<br>
                    想要讓自己不要浪費寒假，所以參加的<br>
                    加上同學說應該要多學一點技能，日後就可以少求人一件事<br>
                    (但是到現在每個禮拜似乎都在求助教解答ＯＡＯ)<br>
                    參加到第二階段後發現其實freecodecamp 好像簡化勒很多的原理解釋<br>
                    自己的根基根本還沒打，完完全全是個外行人QQ<br>
                    
                     
                </p>
            </div>

            <div class="leftCard" style="background: rgba(113, 81, 255, 0.781)">
                <p class="title">未來展望</p>
            </div>
          
           <div class="leftCard">
                <p class="text">
                    
                    目前就是先對於基礎知識有一定的認識後，進行一些活用，能夠做出實際的東西來。
                    
                     
                </p>
            </div>
        </div>

       
    </body>
</html>